<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    {% block include_css %}
    {% endblock include_css %}

    <title>

        {% block title %}
        {% endblock title %}

    </title>

    {% block js %}
    {% endblock js %}

</head>

<body>


    <nav class="navbar navbar-default">
        <div class="conteiner-fluid">
            <div class="navbar-header">
                <a href="{% url 'tests:home-page' %}" class="navbar-brand"> TestPlatform </a>
            </div>
            <div>
                <ul class="nav navbar-nav">

                    {% if not request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'registration' %}"> Registration </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'my-account' %}"> My account({{ request.user }})</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}"> Logout </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}"> Login </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock content%}

</body>

</html>