{% extends 'base.html' %}


{% load staticfiles %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tests/css/home_page_style.css' %}">
{% endblock include_css %}


{% block title %}
    Test Platform
{% endblock title %}

{% block content %}

    <div class="container-fluid">
            <div class="row">
                <div class="panel-body">
                    <form accept-charset="UTF-8" class='form-inline' role="form" method="get">
                    <fieldset>
                        <div class="form-group col-md-2">
                            <label for="test_title"> Поиск по имени </label>
                            <input type="text" class="form-control" name="title" id="test_title" placeholder="Title" value="{{ form.title.value|default_if_none:'' }}">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="id_date">Сортировать по дате:</label>
                            <select class="form-control" name="date" id="sel">
                                {% for value, key in form.fields.date.choices %}
                                    <option value="{{ value }}"
                                        {% if form.date.value == value %}
                                            selected
                                        {% endif %}>
                                        {{ key }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="id_passed">Сортировать по пройденным:</label>
                            <select class="form-control" name="passed" id="sel1">
                                {% for value, key in form.fields.passed.choices %}
                                    <option value="{{ value }}"
                                        {% if form.passed.value == value %}
                                            selected
                                        {% endif %}>
                                        {{ key }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="form-group buttons">
                        <input class="btn btn-md btn-primary" type="submit" value="Отфильтровать">
                        <a class="btn btn-md btn-info" href="/"> Очистить </a><br>
                    </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>

    {% if object_list %}

        <h2 class="text-center text-primary"> Выберите тест: </h2>

        <div class="container-fluid">
            <div class="raw">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="list-group">
                        {% for test in object_list %}
                            <li class="list-group-item">
                                <a class="test" href="{% url 'tests:test' test_title=test.title %}"> {{ test }} </a>
                                <span class="badge"> {{ test.result_set.all.count }} </span>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <a class="btn btn-lg btn-primary" href="{% url 'tests:add-test' %}"> Добавить тест </a><br>
                        {% else %}
                            <div class="col-md-10 col-md-offset-2">
                                <h4> Недостаточно прав для создания нового теста! </h4>
                            </div>
                        {% endif %}
                    {% else %}
                        Чтобы добавить новый тест, <a href="{% url 'login' %}"> авторизуйтесь </a> или <a href="{% url 'registration' %}"> зарегистрируйтесь </a>!
                    {% endif %}
                </div>
            </div>
        </div>

    {% elif not object_list and form.title.value %}
        <h2 class="text-center text-danger"> Теста с таким именем нет! </h2>
    {% else %}

        <h2 class="text-center text-danger"> Ни один тест еще не был создан! </h2>

        <div class="container-fluid">
            <div class="raw">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                        <div class="col-md-6 col-md-offset-5">
                            <a class="btn btn-lg btn-primary" href="{% url 'tests:add-test' %}"> Добавить тест </a><br>
                        </div>
                    {% else %}
                        <div class="col-md-10 col-md-offset-2">
                            <h4> Недостаточно прав для создания нового теста! </h4>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-6 col-md-offset-4">
                        Чтобы добавить новый тест, <a href="{% url 'login' %}"> авторизуйтесь </a> или <a href="{% url 'registration' %}"> зарегистрируйтесь </a>!
                    </div>
                {% endif %}
            </div>
        </div>

    {% endif %}

{% endblock content %}