{% extends 'base.html' %}


{% load staticfiles %}
{% load tests_tag %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tests/css/my_account_style.css' %}">
{% endblock include_css %}


{% block title %}
    My Account
{% endblock title %}


{% block content %}

    <table border="1px black" style="margin-left: 500px">
        <tr>
            <th colspan="2" style="text-align: center"> {{ user.username }}</th>
        </tr>
        <tr>
            {% if user.avatar %}
                <td colspan="2" style="text-align: center"> <img class="img" src="/media/{{ user.avatar }}" alt="Img3"> </td>
            {% else %}
                <td colspan="2"> Вы не выбрали фотографию.. </td>
            {% endif %}
        </tr>
        <tr style="margin-left: 50px">
            <th> First_name: </th>
            <th> Last name: </th>
        </tr>
        <tr>
            <td> {{ user.first_name }} </td>
            <td> {{ user.last_name }} </td>
        </tr>
        <tr>
            <th colspan="2"> Personal information: </th>
        </tr>
        <tr>
            {% if user.personal_information %}
                <td colspan="2" rowspan="3"> {{ user.personal_information }} </td>
            {% else %}
                <td colspan="2"> Вы не указали личную информацию.. </td>
            {% endif %}
        </tr>
    </table>

{% endblock content %}