{% extends 'base.html' %}

{% load staticfiles %}
{% load tests_tag %}

{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tests/css/passing_the_test_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ test }}
{% endblock title %}

{% block content %}

    <p class="test-name"> Тест: {{ test }} </p>

    <div class="question">
        {% for question in questions %}
            <h3 style="display: inline"> Вопрос {{ forloop.counter }}: {{ question }} </h3>
            <br>

            <form action="{% url 'tests:result' test_title=test.title %}" method="post"> {% csrf_token %}
                {% for answer in question.answer_set.all %}
                        <input type="radio" name="chosen_answer{{ question.id }}" checked value="{{ answer.id }}"/>
                    <label> {{ answer.answer_text }} </label>
                    <br>
                    <br>
                {% endfor %}
        {% endfor %}
                <br>
                <input type="submit" class="btn btn-md btn-success" value="Ответить">
            </form>
    </div>
    <br>
{% endblock content %}