{% extends 'base.html' %}


{% load staticfiles %}
{% load tests_tag %}


{% block include_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'tests/css/test_style.css' %}">
{% endblock include_css %}


{% block title %}
    {{ test }}
{% endblock title %}


{% block content %}

    <table class="table">
        <tr class="text-center">
            <td colspan="2"> <h2> Test: {{ test }} </h2> </td>
        </tr>
        <tr class="text-center">
            <td colspan="2"> <h2> {{ test.description }} </h2> </td>
        </tr>
        <tr class="text-center">
            {% if test.result_set.all.count > 0 %}
                {% if not test.result_set.all.count|in_list:'2, 3, 4, 22, 23, 24'  %}
                    <td colspan="2"> <h2> This test has already passed {{ test.result_set.all.count }} time.</h2> </td>
                {% else %}
                    <td colspan="2"> <h2> This test has already passed {{ test.result_set.all.count }} times.</h2> </td>
                {% endif %}
            {% else %}
                <td colspan="2"> <h2> This test hasn't passed yet, you will be the first! :) </h2> </td>
            {% endif %}
        </tr>
        <tr class="text-center">
            {% if result %}
                {% if result.test == test and result.author == user %}
                    <td> <h3 class="message"> You have already passed it! </h3> </td>
                    <td> <h3 class="result"> Your result: {{ result.mark }}/{{ result.test.question_set.all|length }} = {{ percent }}% </h3> </td>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <td colspan="2">
                            <a href="{% url 'tests:passing-the-test' test_title=test.title %}" class="btn btn-info" role="button" aria-pressed="true"> Pass the test </a>
                        </td>
                    {% else %}
                        <td colspan="2">
                            <a href="{% url 'login' %}"> Log in </a> or <a href="{% url 'registration' %}"> sign up </a> to pass the test!
                        </td>
                    {% endif %}

                {% endif %}
            {% else %}
                {% if request.user.is_authenticated %}
                    <td colspan="2">
                        <a href="{% url 'tests:passing-the-test' test_title=test.title %}" class="btn btn-info" role="button" aria-pressed="true"> Pass the test </a>
                    </td>
                {% else %}
                    <td colspan="2">
                        <a href="{% url 'login' %}"> Log in </a> or <a href="{% url 'registration' %}"> sign up </a> to pass the test!
                    </td>
                {% endif %}
            {% endif %}
        </tr>
    </table>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h3>Comments:</h3>
        </div><!-- /col-md-5 -->
    </div><!-- /row -->
    <br>
    {% if test.comment_set.all.count > 0 %}

        {% for comment in test.comment_set.all %}
            <div class="container">

                <div class="row">
                    <div class="col-sm-1">
                        {% if comment.author.avatar %}
                            <div class="thumbnail">
                                    <img class="img3" src="/media/{{ comment.author.avatar }}" alt="Img3">
                            </div><!-- /thumbnail -->
                        {% endif %}
                    </div><!-- /col-sm-1 -->

                    <div class="col-sm-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{{ comment.author }}</strong> <span class="text-muted">commented {{ comment.date }}</span>
                            </div>
                            <div class="panel-body">
                                {{ comment.text }}
                            </div><!-- /panel-body -->
                        </div><!-- /panel panel-default -->
                    </div><!-- /col-sm-5 -->
                </div><!-- /row -->
            </div><!-- /container -->
        {% endfor %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'tests:add-comment' test_name=test.title %}" class="link btn btn-primary btn-md active" role="button" aria-pressed="true"> Add a comment </a>
        {% else %}
            <div class="col-md-5 col-md-offset-1">
                <a href="{% url 'login' %}"> Log in </a> or <a href="{% url 'registration' %}"> sign up </a> to leave a comment!
            </div>
        {% endif %}
    {% else %}
        <h4> This test hasn't had comments yet. </h4>
        {% if request.user.is_authenticated %}
            <a href="{% url 'tests:add-comment' test_name=test.title %}" class="link1 btn btn-primary btn-md active" role="button" aria-pressed="true"> Add a comment </a>
        {% else %}
            <a href="{% url 'login' %}"> Log in </a> or <a href="{% url 'registration' %}"> sign up </a> to leave a comment!
        {% endif %}
    {% endif %}

{% endblock content %}